div#listNotes {
  background-color: lightpink;
}

div#listNotes > div {	
	border-bottom: 1px solid black;	
	padding-top: 2em;
	padding-bottom: 1em;
}

div#listNotes > div:last-child {
	border-bottom: 0;
}

div#addNote {
  background-color: lightskyblue;    
}

textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	width: 100%;
}
